.trendingWrapper{
    padding: 35px 0;
    &__contentWrapper{
        display: flex;
        align-items: center;
        &__sliderWrapper{
            display: flex;
            min-width: 1px;
            width: 100%;
            &__trendingImage{
                display: flex;
                align-items: center;
                gap: 10px;
                margin-right: 36px;
                position: relative;
                overflow: hidden;
                p{
                    font-size: 14px;
                    font-weight: 600;
                    letter-spacing: .6px;
                    line-height: 21px;
                    color: #E77900;
                    text-transform: uppercase;
                }
                &::after{
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    height: 100%;
                    width: 6px;
                    background-color: #fff;
                    animation: whitebg 2s linear infinite;
                    box-shadow: 0 0 6px 4px #fff;
                    @keyframes whitebg {
                        0% {
                            transform: translateX(-20px);
                        }
                        100% {
                            transform: translateX(300px);
                        }
                    }
                }
            }
            .swiperWrapper{
                min-width: 1px;
                max-width: 850px;
                a{
                    font-size: 14px;
                    line-height: 19px;
                    letter-spacing: -0.32px;
                    color: #121418;
                    white-space: nowrap;
                    overflow: hidden;
                    display: block;
                    text-overflow: ellipsis;
                    transition: all .3s;
                    &:hover{
                        color: #E77900;
                    }
                }
                :global .swiper-wrapper{
                    align-items: center;
                }
            }
            .sliderButton{
                margin-left: auto;
                display: flex;
                gap: 20px;
                .nextArrow{
                    transition: all .3s;
                    svg{

                        -moz-transform: scaleX(-1);
                        -webkit-transform: scaleX(-1);
                        -o-transform: scaleX(-1);
                        transform: scaleX(-1);
                        -ms-filter: fliph; /*IE*/
                        filter: fliph; /*IE*/
                    }
                    &:hover {
                        transform: translateX(2px);
                    }
                }
                button {
                    
                  
                    svg path{
                        transition: all .3s;
                    }
                    &:hover svg path{
                        fill: #E77900;
                    }
                    
                }
                .prevArrow{
                    transition: all .3s;
                    &:hover {
                    transform: translateX(-2px);
                            }
                }


            }
        }
    }
}