.investorRecommendWrapper{
    padding-top: 75px;
    padding-bottom: 75px;
    .headingWrapper{
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 10px;
            .viewAll{
                font-size: 16px;
                font-weight: 600;
                letter-spacing: 0.72px;
                line-height: 18px;
                color: #6C6F72;
                text-transform: uppercase;
                display: block;
                transition: all 0.3s;
                    &:hover {
                    color: #e93314;
                    }
            }
        }
    .investorContent{
        display: flex;
        gap: 75px;
        // gap: 35px;
        margin-top: 44px;
        .leftContent{
            max-width: 690px;
            // flex: 1;
            width: 100%;
            height: 580px;
            overflow: hidden;
            border-radius: 10px;
            position: relative;
            &::after{
                        position: absolute;
                        content: "";
                        height: 100%;
                        width: 100%;
                        background: linear-gradient(180deg,transparent 0,rgba(0,0,0,.74) 75%,rgba(0,0,0,.94));
                        top: 0;
                        left: 0;
                    }
            .recmd{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            .blog1{
                    position: absolute;
                    bottom: 27px;
                    left: 43px;
                    right: 45px;
                    padding: 26px 31px;
                    background: #fff;
                    border-radius: 20px;
                    box-shadow: 0px 4px 4px rgba(#000000, .25);
                    z-index: 1;
                    &__span{
                        font-size: 12px;
                        line-height: 14px;
                        letter-spacing: 0.72px;
                        font-weight: 600;
                        color: #E93314;
                        display: inline-block;
                        text-transform: uppercase;
                        background: #F8F7F5;
                        border-radius: 11px;
                        padding: 2px 6px;
                        margin-bottom: 12px;
                        position: relative;
                        overflow: hidden;
                        &::before {
                            position: absolute;
                            content: "";
                            height: 0%;
                            width: 100%;
                            background: #e93314;
                            left: 0;
                            top: 0;
                            transition: all 0.3s;
                            }
                            span{
                                position: relative;
                                z-index: 2;
                            }
                    }
                    a{
                        display: block;
                        margin-bottom: 24px;
                    }
                    &__h2{
                        font-size: 35px;
                        line-height: 38px;
                        letter-spacing: -1.05px;
                        font-weight: 600;
                        color: #121418;
                         padding: 0;
              background-image: -webkit-gradient(
                linear,
                left top,
                right top,
                from(currentColor),
                to(currentColor)
              );
              background-image: -webkit-linear-gradient(
                left,
                currentColor 0%,
                currentColor 100%
              );
              background-image: -o-linear-gradient(
                left,
                currentColor 0%,
                currentColor 100%
              );
              background-image: linear-gradient(
                to right,
                currentColor 0%,
                currentColor 100%
              );
              background-position: 0 100%;
              background-repeat: no-repeat;
              background-size: 0 1px;
              -webkit-box-sizing: border-box;
              -ms-box-sizing: border-box;
              box-sizing: border-box;
              -webkit-transition: background-size 0.8s
                cubic-bezier(0.25, 0.8, 0.25, 1);
              -o-transition: background-size 0.8s
                cubic-bezier(0.25, 0.8, 0.25, 1);
              transition: background-size 0.8s cubic-bezier(0.25, 0.8, 0.25, 1);
                        
                    }
                    &__div{
                        display: flex;
                        gap: 13px;
                        p{
                            font-size: 12px;
                            font-weight: 400;
                            line-height: 18px;
                            color: #121418;
                            text-transform: uppercase;
                            span{
                                font-weight: 600;
                            }
                        }
                    }

            }
            &:hover{
                .blog1{
                    &__span{
                        &::before{
                            height: 100%;
                        }
                        span{
                            color: #fff;
                        }
                    }
                    &__h2{
                           -webkit-background-size: 100% 1px !important;
                            background-size: 100% 1px !important;
                    }
                }
            }
        }
        .rightContent{
            flex: 1;
            width: 100%;
        }
        
    }
}