@tailwind base;
@tailwind components;
@tailwind utilities;



*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background: #f8f8f896;
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.container{
     width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  @media screen and (max-width:575px) {
    max-width: 100%;
  }
    @media screen and (min-width:576px) {
        max-width: 540px;
    }
     @media screen and (min-width:768px) {
        max-width: 720px;
    }
 
    @media screen and (min-width:992px) {
        max-width: 960px;
    }
   
  
     @media screen and (min-width:1200px) {
      max-width: 1200px;
    }
    @media screen and (min-width:1400px) {
      max-width: 1320px;
    }

}
.is-sticky{
  position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    box-shadow: 0 2px 7px 0 rgba(0, 0, 0, .5);
    animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 70px !important;
}
@keyframes fadeInDown{
  from{
    transform: translateY(-100px);
  }
  to{
    transform: translateY(0);
  }
}
.is-sticky li a::after{
  bottom: -25px !important;
}