.mainHeroSectionWrapper {
  .contentWrapper {
    display: flex;
    .leftContent {
      width: 25%;

      .ulWrapper {
        padding: 0;
        margin: 0;
        margin-top: 43px;
        &__li {
          padding-bottom: 20px;
          display: flex;
          align-items: center;
          gap: 20px;
          border-bottom: 1px solid #eaeaea;
          margin-bottom: 20px;
          &:hover {
            .liContent p {
              -webkit-background-size: 100% 1px;
              background-size: 100% 1px;
            }
             img {
            transform: scale(1.23);
          }
          }

          &:last-child {
            border-bottom: none;
          }
          .imageWrapper {
            display: inline-block;
            height: 80px;
            width: 80px;
            border-radius: 10px;
            overflow: hidden;
            img {
              transition: all 0.3s;
            }
          }
          .liContent {
            p {
              font-weight: 600;
              font-size: 17px;
              letter-spacing: -0.36px;
              line-height: 22.5px;
              color: #121418;
              padding: 0;
              background-image: -webkit-gradient(
                linear,
                left top,
                right top,
                from(currentColor),
                to(currentColor)
              );
              background-image: -webkit-linear-gradient(
                left,
                currentColor 0%,
                currentColor 100%
              );
              background-image: -o-linear-gradient(
                left,
                currentColor 0%,
                currentColor 100%
              );
              background-image: linear-gradient(
                to right,
                currentColor 0%,
                currentColor 100%
              );
              background-position: 0 100%;
              background-repeat: no-repeat;
              background-size: 0 1px;
              -webkit-box-sizing: border-box;
              -ms-box-sizing: border-box;
              box-sizing: border-box;
              -webkit-transition: background-size 0.8s
                cubic-bezier(0.25, 0.8, 0.25, 1);
              -o-transition: background-size 0.8s
                cubic-bezier(0.25, 0.8, 0.25, 1);
              transition: background-size 0.8s cubic-bezier(0.25, 0.8, 0.25, 1);
            }
            // &:hover p {
            //   -webkit-background-size: 100% 1px;
            //   background-size: 100% 1px;
            // }
            span {
              display: inline-block;
              margin-top: 1px;
              font-weight: 600;
              font-size: 12px;
              letter-spacing: 0.72px;
              line-height: 18px;
              color: #6c6f72;
              text-transform: uppercase;
            }
          }
        }
      }
      .viewAll {
        font-size: 16px;
        font-weight: 600;
        letter-spacing: 0.72px;
        line-height: 18px;
        text-transform: uppercase;
        color: #6c6f72;
        transition: all 0.3s;
        &:hover {
          color: #e93314;
        }
      }
    }
    .midContent {
      flex-grow: 1;
      width: 50%;
      padding: 0 31px;
      &:hover {
        img {
          transform: scale(1.18);
        }
        .topic::before {
          height: 100% !important;
        }
        .topic span {
          color: #fff;
          position: relative;
          z-index: 1;
        }
        .imageContent h1 span {
          -webkit-background-size: 100% 1px !important;
          background-size: 100% 1px !important;
        }
      }
      .imageWrapper {
        height: 579px;
        border-radius: 10px;
        overflow: hidden;
        position: relative;

        &::after {
          position: absolute;
          content: "";
          height: 100%;
          width: 100%;
          background: linear-gradient(
            180deg,
            transparent 0,
            rgba(0, 0, 0, 0.74) 75%,
            rgba(0, 0, 0, 0.94)
          );
          top: 0;
          left: 0;
        }
        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
          transition: all 0.3s;
        }
        .imageContent {
          position: absolute;
          bottom: 23px;
          left: 41px;
          padding-right: 23px;
          z-index: 1;
          .topic {
            font-size: 12px;
            letter-spacing: 0.72px;
            line-height: 14px;
            font-weight: 600;
            color: #e93314;
            padding: 2px 6px;
            border-radius: 11px;
            text-align: center;
            display: inline-block;
            background: #f8f7f5;
            text-transform: uppercase;
            margin-bottom: 12px;
            position: relative;
            overflow: hidden;
            &::before {
              position: absolute;
              content: "";
              height: 0%;
              width: 100%;
              background: #e93314;
              left: 0;
              top: 0;
              transition: all 0.3s;
            }
          }
          h1 {
            font-size: 35px;
            line-height: 38px;
            letter-spacing: -1.05px;
            font-weight: 600;
            color: #ffffff;
            margin-bottom: 16px;
            span {
              padding: 0;
              background-image: -webkit-gradient(
                linear,
                left top,
                right top,
                from(currentColor),
                to(currentColor)
              );
              background-image: -webkit-linear-gradient(
                left,
                currentColor 0%,
                currentColor 100%
              );
              background-image: -o-linear-gradient(
                left,
                currentColor 0%,
                currentColor 100%
              );
              background-image: linear-gradient(
                to right,
                currentColor 0%,
                currentColor 100%
              );
              background-position: 0 100%;
              background-repeat: no-repeat;
              background-size: 0 1px;
              -webkit-box-sizing: border-box;
              -ms-box-sizing: border-box;
              box-sizing: border-box;
              -webkit-transition: background-size 0.8s
                cubic-bezier(0.25, 0.8, 0.25, 1);
              -o-transition: background-size 0.8s
                cubic-bezier(0.25, 0.8, 0.25, 1);
              transition: background-size 0.8s cubic-bezier(0.25, 0.8, 0.25, 1);
            }
          }
          .description {
            font-size: 15px;
            letter-spacing: -0.17px;
            line-height: 26px;
            color: #ffffff;
            max-width: 493px;
            margin-bottom: 18px;
          }
          .writerWrapper {
            display: flex;
            gap: 13px;
            align-items: center;
            p {
              font-size: 12px;
              line-height: 18px;
              color: #fff;
              text-transform: uppercase;
            }
            span {
              font-weight: 600;
            }
          }
        }
      }
    }
    .rightContent {
      width: 25%;
      .ulWrapper {
        padding: 0;
        margin: 0;
        margin-top: 43px;
        &__li {
          padding-bottom: 20px;
          display: flex;

          gap: 20px;
          border-bottom: 1px solid #eaeaea;
          margin-bottom: 20px;
          &:hover .liContent span {
            -webkit-background-size: 100% 1px;
            background-size: 100% 1px;
          }
          &:hover .imageWrapper img {
            transform: scale(1.23);
          }
          &:last-child {
            border-bottom: none;
          }
          .imageWrapper {
            display: inline-block;
            height: 80px;
            width: 80px;
            min-height: 80px;
            min-width: 80px;
            border-radius: 10px;
            overflow: hidden;
            img {
              transition: all 0.3s;
            }
          }
          .liContent {
            flex-grow: 1;
            a {
              font-weight: 600;
              font-size: 17px;
              letter-spacing: -0.36px;
              line-height: 22.5px;
              color: #121418;
              margin-top: 8px;
              display: block;
              span {
                padding: 0;
                background-image: -webkit-gradient(
                  linear,
                  left top,
                  right top,
                  from(currentColor),
                  to(currentColor)
                );
                background-image: -webkit-linear-gradient(
                  left,
                  currentColor 0%,
                  currentColor 100%
                );
                background-image: -o-linear-gradient(
                  left,
                  currentColor 0%,
                  currentColor 100%
                );
                background-image: linear-gradient(
                  to right,
                  currentColor 0%,
                  currentColor 100%
                );
                background-position: 0 100%;
                background-repeat: no-repeat;
                background-size: 0 1px;
                -webkit-box-sizing: border-box;
                -ms-box-sizing: border-box;
                box-sizing: border-box;
                -webkit-transition: background-size 0.8s
                  cubic-bezier(0.25, 0.8, 0.25, 1);
                -o-transition: background-size 0.8s
                  cubic-bezier(0.25, 0.8, 0.25, 1);
                transition: background-size 0.8s
                  cubic-bezier(0.25, 0.8, 0.25, 1);
              }
            }
            .date {
              display: block;
              margin-top: 4px;
              font-weight: 600;
              font-size: 12px;
              letter-spacing: 0.72px;
              line-height: 18px;
              color: #6c6f72;
              text-transform: uppercase;
            }
          }
        }
      }
    }
  }
}
